<div class="cal-all-box">
    <div class="row cal-before-eventlist">
      <div
        class="span3 col-md-3 col-xs-6 cal-cell year-cell {{ day.cssClass }}"
        ng-repeat="year in vm.view"
        ng-init="yearIndex = vm.view.indexOf(month)"
        ng-click="vm.yearClicked(year, false, $event)"
        ng-class="{pointer: month.events.length > 0, 'cal-day-today': month.isToday}">
        <span
          style="display: block; height:40px; text-align: center"
          class="pull-left"
          data-cal-date
          ng-click="vm.calendarCtrl.dateClicked(year.date)"
          ng-bind="year.label">
        </span>
        <small
          class="cal-events-num badge badge-important pull-right"
          ng-show="year.badgeTotal > 0"
          ng-bind="year.badgeTotal">
        </small>
      </div>
    </div>
</div>
